<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qquiz"
        tools:targetApi="31">

        <!-- SplashAct is the launcher activity -->
        <activity
            android:name=".SplashAct"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity2 will be launched after SplashAct -->
        <activity
            android:name=".MainActivity2"
            android:exported="false" />

        <!-- MainActivity will be launched after MainActivity2 if needed -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>
</manifest>
